@using PhotoStudioFS.Models.ViewModels
@model EmailButtonLinkViewModel

@{
    Layout = "~/Views/Email/_EmailLayoutHtml.cshtml";
    ViewContext.ViewData["EmailTitle"] = "Fotoğraf İşleri";
}

<p>
    Sayın <b>@Model.Info.FullName</b> , <br />
    <b>@Model.Info.Date.ToShortDateString()</b> tarihli randevu talebiniz tarafımıza ulaşmıştır.
    Randevu talebiniz onaylandığı zaman mail veya telefon ile bilgilendirileceksiniz.

</p>


<p>
    Fotoğraf İşleri - Sinem Kobaner
</p>