@model ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutAccountManager.cshtml";
}

<h3>Yeni Şifre Oluştur</h3>
<p class="">Sayın <b>@Model.FullName</b>, bu alanda yeni şifrenizi belirleyebilirsiniz.</p>
<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email">
    <div class="text-left text-danger" asp-validation-summary="All"></div>
    <div class="input-group mb-3">
        <span class="input-group-addon bg-white"><i class="fa fa-unlock-alt"></i></span>
        <input asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(u => u.Password)">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-addon bg-white"><i class="fa fa-unlock-alt"></i></span>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(u => u.ConfirmPassword)">
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Yeni Şifremi Oluştur</button>
        </div>
    </div>
</form>
