
@{
    Layout = "~/Views/Shared/_LayoutAccountManager.cshtml";
}

<h3>Şifre Sıfırlama</h3>
<p class="">Sisteme kayıtlı Email adresinizi girerek yeni şifrenizi oluşturabilirsiniz.</p>

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="text-left text-danger font-weight-bold" asp-validation-summary="All"></div>
    <div class="input-group mb-3">
        <span class="input-group-addon bg-white"><i class="fa fa-user"></i></span>
        <input type="email" name="email" class="form-control" placeholder="Email adresinizi giriniz.">
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Şifremi Sıfırla</button>
        </div>
    </div>
</form>

@if (!string.IsNullOrEmpty(ViewBag.Success))
{
    @*<div class="alert alert-success alert-dismissible mt-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Mail Gönderildi!</strong> Şifrenizi sıfırlamanız için girdiğiniz Email adresine bir mail alacaksınız. Lütfen mail adresinizi kontrol ediniz.
    </div>*@
    <div class="alert alert-success alert-dismissible mt-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="alert-heading">Mail Gönderildi!</h4>
        <p>Şifrenizi sıfırlamanız için kayıtlı mail adresinize bir mail gönderildi! Lütfen mail adresinizi kontrol ediniz.</p>
    </div>
}
