@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutAccountManager.cshtml";
}

<h3>Giriş Yap</h3>
<p class="">Hesabınıza giriş yapabilirsiniz</p>
<form asp-action="Login" method="post">
    <div class="text-left text-danger" asp-validation-summary="All"></div>
    <div class="input-group mb-3">
        <span class="input-group-addon bg-white"><i class="fa fa-user"></i></span>
        <input asp-for="Email" type="text" class="form-control" placeholder="@Html.DisplayNameFor(u => u.Email)">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-addon bg-white"><i class="fa fa-unlock-alt"></i></span>
        <input asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(u => u.Password)">
    </div>
    <div class="input-group mb-4">
        <label class="custom-control custom-checkbox">
            <input class="custom-control-input" asp-for="RememberMe" />
            <span class="custom-control-label">Beni Hatırla</span>
        </label>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
        </div>
        <div class="col-12">
            <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-link box-shadow-0 px-0">Şifremi Unuttum?</a>
        </div>
    </div>
</form>
