
@{
    ViewData["Title"] = "Sinem Kobaner / Değerlendirmeler";
    ViewData["PageName"] = "Değerlendirmeler";
    ViewData["IsDataTableUsed"] = true;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Değerlendirmeler</h1>

