 <!-- page-header -->
<div class="page-header">
    <ol class="breadcrumb">
        <!-- breadcrumb -->
        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index" >Ana Sayfa</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["PageName"]</li>
    </ol><!-- End breadcrumb -->
</div>
<!-- End page-header -->