<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Client/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Client/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Client/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Client/css/magnific-popup.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Client/css/owl.theme.default.min.css">
    <!-- Date Picker css-->
    <link href="~/Admin/plugins/date-picker/spectrum.css" rel="stylesheet" />
    <link href="~/Admin/plugins/jquery-ui2/jquery-ui.css" rel="stylesheet" />

    <!---Sweetalert Css-->
    <link href="~/Admin/plugins/sweet-alert/jquery.sweet-modal.min.css" rel="stylesheet" />
    <link href="~/Admin/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Client/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/Client/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="global-loader"></div>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-md-push-5 text-center">
                            <div id="colorlib-logo"><a href="#home"><img src="~/images/logo.png" class="img-fluid img-responsive" alt="Sinem Kobaner" /></a></div>
                        </div>
                        <div class="col-md-5 col-md-pull-2 text-right menu-1">
                            <ul>
                                <li><a href="#home">Ana Sayfa</a></li>
                                <li><a href="#services">Hizmetlerimiz</a></li>
                                <li><a href="#gallery">Galeri</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5 text-left menu-1">
                            <ul>
                                <li><a href="#about">Hakkımızda</a></li>
                                <li><a href="#appcontact">İletişim</a></li>
                                <li><a href="#appcontact">Randevu</a></li>
                                <li class="active"><a asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section id="home" class="video-hero" style="height: 800px; background-image: url(images/7.webp);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
            <div class="overlay"></div>
            @*<a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=Yz5-mrDBbxU',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>*@
            <div class="display-t text-center">
                <div class="display-tc">
                    <div class="container">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="animate-box">
                                <h1 class="holder"><span>Fotoğraf İşleri</span></h1>
                                <h2>Sinem Kobaner</h2>
                                @*<p>27.03.2018</p>*@
                                <p><a href="#appcontact" class="btn btn-primary btn-custom">Randevu Al</a></p>
                                <p><a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-custom">Giriş Yap</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <section id="services">
                <div id="colorlib-services">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 text-center animate-box">
                                <div class="services">
                                    <span class="icon">
                                        <i class="icon-camera4"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>Fotoğraf Çekimi</h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center animate-box">
                                <div class="services">
                                    <span class="icon">
                                        <i class="icon-image2"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>Dış &amp; İç Çekim</h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center animate-box">
                                <div class="services">
                                    <span class="icon">
                                        <i class="icon-video3"></i>
                                    </span>
                                    <div class="desc">
                                        <h3>Video Çekimi</h3>
                                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="about">
                <div class="colorlib-about-flex">
                    <div class="col-half about-flex-img animate-box" style="background-image: url(images/about.jpg);"></div>
                    <div class="col-half">
                        <div class="row">
                            <div class="col-md-12 col-md-pull-2 animate-box">
                                <div class="about-desc">
                                    <h2>Sinem Kobaner - Fotoğraf İşleri</h2>
                                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="gallery">
                <div class="colorlib-gallery">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                                <h2>Galeri</h2>
                                @*<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 no-gutters">
                                <a href="~/images/1.webp" class="gallery-img image-popup-link animate-box">
                                    <img class="img-responsive" src="~/images/1.webp" alt="">
                                </a>
                                <a href="~/images/2.webp" class="gallery-img image-popup-link animate-box">
                                    <img class="img-responsive" src="~/images/2.webp" alt="">
                                </a>
                            </div>
                            <div class="col-md-3 no-gutters">
                                <a href="~/images/3.webp" class="gallery-img image-popup-link animate-box">
                                    <img class="img-responsive" src="~/images/3.webp" alt="">
                                </a>
                                <a href="~/images/4.webp" class="gallery-img image-popup-link animate-box">
                                    <img class="img-responsive" src="~/images/4.webp" alt="">
                                </a>
                            </div>
                            <div class="col-md-3 no-gutters">
                                <a href="~/images/5.webp" class="gallery-img image-popup-link animate-box">
                                    <img class="img-responsive" src="~/images/5.webp" alt="">
                                </a>
                                <a href="~/images/6.webp" class="gallery-img image-popup-link animate-box">
                                    <img class="img-responsive" src="~/images/6.webp" alt="">
                                </a>
                            </div>
                            <div class="col-md-3 no-gutters">
                                <a href="~/images/7.webp" class="gallery-img image-popup-link animate-box">
                                    <img class="img-responsive" src="~/images/7.webp" alt="">
                                </a>
                                <a href="~/images/8.webp" class="gallery-img image-popup-link animate-box">
                                    <img class="img-responsive" src="~/images/8.webp" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @*<div class="colorlib-blog">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                                <h2>Recent Blog</h2>
                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 animate-box">
                                <article class="article-entry">
                                    <a href="blog.html" class="blog-img" style="background-image: url(images/blog-1.jpg);"></a>
                                    <div class="desc">
                                        <h2><a href="blog.html">Photoshoot Technique</a></h2>
                                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                                    </div>
                                    <div class="admin">
                                        <p><span><i class="icon-user2"></i> by: Mark Harris</span> <span class="day"><i class="icon-calendar"></i> 30 March 2018</span> <span><a href="#"><i class="icon-bubble3"></i> 10</a></span></p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 animate-box">
                                <article class="article-entry">
                                    <a href="blog.html" class="blog-img" style="background-image: url(images/blog-2.jpg);"></a>
                                    <div class="desc">
                                        <h2><a href="blog.html">Some tricks in Photoshop for your photo</a></h2>
                                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                                    </div>
                                    <div class="admin">
                                        <p><span><i class="icon-user2"></i> by: Mark Harris</span> <span class="day"><i class="icon-calendar"></i> 30 March 2018</span> <span><a href="#"><i class="icon-bubble3"></i> 10</a></span></p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 animate-box">
                                <article class="article-entry">
                                    <a href="blog.html" class="blog-img" style="background-image: url(images/blog-3.jpg);"></a>
                                    <div class="desc">
                                        <h2><a href="blog.html">50 Effects in Photoshop</a></h2>
                                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
                                    </div>
                                    <div class="admin">
                                        <p><span><i class="icon-user2"></i> by: Mark Harris</span> <span class="day"><i class="icon-calendar"></i> 30 March 2018</span> <span><a href="#"><i class="icon-bubble3"></i> 10</a></span></p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>*@
            <section id="appcontact">
                @RenderBody()
            </section>
            <div id="colorlib-instagram" style="margin-bottom:20px;">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 colorlib-heading text-center animate-box">
                        <h2><i class="icon-instagram"></i> Instagram</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="instagram-entry animate-box">
                        <a href="#" class="instagram text-center" style="background-image: url(images/insta-1.webp);">
                        </a>
                        <a href="#" class="instagram text-center" style="background-image: url(images/insta-2.webp);">
                        </a>
                        <a href="#" class="instagram text-center" style="background-image: url(images/insta-3.webp);">
                        </a>
                        <a href="#" class="instagram text-center" style="background-image: url(images/insta-4.webp);">
                        </a>
                        <a href="#" class="instagram text-center" style="background-image: url(images/insta-5.webp);">
                        </a>
                        <a href="#" class="instagram text-center" style="background-image: url(images/insta-6.webp);">
                        </a>
                        <a href="#" class="instagram text-center" style="background-image: url(images/insta-7.webp);">
                        </a>
                        <a href="#" class="instagram text-center" style="background-image: url(images/insta-8.webp);">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <footer id="colorlib-footer">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-4 colorlib-widget">
                        <h4>Fotoğraf İşleri</h4>
                        <p>Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
                        <p>
                            <ul class="colorlib-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-instagram"></i></a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-4 colorlib-widget">
                        <h4>Bilgiler</h4>
                        <p>
                            <ul class="colorlib-footer-links">
                                <li><a href="#home"><i class="icon-check"></i> Ana Sayfa</a></li>
                                <li><a href="#services"><i class="icon-check"></i> Hizmetlerimiz</a></li>
                                <li><a href="#gallery"><i class="icon-check"></i> Galeri</a></li>
                                <li><a href="#about"><i class="icon-check"></i> Hakkımızda</a></li>
                                <li><a href="#appcontact"><i class="icon-check"></i> İletişim</a></li>
                                <li><a href="#appcontact"><i class="icon-check"></i> Randevu</a></li>
                            </ul>
                        </p>
                    </div>

                    <div class="col-md-4 colorlib-widget">
                        <h4>İletişime Geçin</h4>
                        <ul class="colorlib-footer-links">
                            <li>Güzelyalı, 25-1, Uğur Mumcu Blv., <br> 01170 Çukurova/Adana</li>
                            <li><a href="tel://1234567920"><i class="icon-phone"></i> +90 555 555 55 55</a></li>
                            <li><a href="mailto:fotograf@sinemkobaner.com"><i class="icon-envelope"></i> fotograf@sinemkobaner.com</a></li>
                            <li><a href="#"><i class="icon-location4"></i> sinemkobaner.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copy">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                <small class="block">
                                    Copyright &copy;
                                    @*<script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>*@
                                    <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </small><br>
                                @*<small class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a>, <a href="http://pexels.com/" target="_blank">Pexels</a></small>*@
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>
    <!-- jQuery -->
    <script src="~/Client/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Client/js/jquery.easing.1.3.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Client/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Client/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Client/js/jquery.stellar.min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Client/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Client/js/magnific-popup-options.min.js"></script>
    <!-- Datepicker js -->
    <script src="~/Admin/plugins/date-picker/spectrum.min.js"></script>
    <script src="~/Admin/plugins/date-picker/jquery-ui.min.js"></script>
    <script src="~/Admin/plugins/input-mask/jquery.maskedinput.min.js"></script>

    <!-- Sweet alert js-->
    <script src="~/Admin/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Admin/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Admin/js/sweet-alert.min.js"></script>
    <script src="~/Admin/plugins/masked-input/jquery.inputmask.min.js"></script>
    <!-- Main -->
    <script src="~/Common/Axios/axios.min.js"></script>

    <script src="~/Client/js/main.js"></script>
    <script src="~/Client/Client.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Common/common.js"></script>
</body>
</html>
